.panel.panel-success
    .panel-body
        p Follow the steps (Most of this, you will be keeping it at the server side. This is just a demo of the call history)
    table.table
        tr.warning
            td
                label Step 1:
        tr
            td
                form.form-inline
                    button#btnReqToken.btn.btn-primary
                        i.fa.fa-key.fa-lg
                        |  Request Token
        tr.warning
            td
                label Step 2:
        tr
            td
                form#setupShoppingCart
                    .form-group
                        label(for='requestToken') Request Token
                        |  
                        input#requestToken.form-control(name='requestToken', type='text', placeholder='Request Token', size="45")
                    |  
                    .form-group
                        label(for='itemPrice') Item Price
                        |  
                        input#itemPrice.form-control(name='itemPrice', type='text', placeholder='Item Price', value="299.99")
                    |  
                    .form-group
                        label(for='itemDesc') Item Description
                        |  
                        input#itemDesc.form-control(name='itemDesc', type='text', placeholder='Item Description', value="jPhone 9s")
                    |  
                    .form-group
                        label(for='itemQty') Item Quantity
                        |  
                        input#itemQty.form-control(name='itemQty', type='text', placeholder='Item Quantity', value="1")
                    |  
                    button.btn.btn-primary(type='submit')
                        i.fa.fa-shopping-cart.fa-lg
                        |  Setup Shopping Cart                                
        tr.warning
            td
                label Step 3:
        tr
            td
                form#initMerchant.form-inline
                    .form-group
                        label(for='requestToken') Request Token
                        |  
                        input#cartRequestToken.form-control(name='requestToken', type='text', placeholder='Request Token', size="45")
                    |  
                    button#btnInitMerch.btn.btn-primary
                        i.fa.fa-shopping-cart.fa-lg
                        |  Initialize Merchant
        tr.warning
            td
                label Step 4:
        tr
            td
                form.form-inline
                    .form-group
                        label(for='requestToken') Request Token
                        |  
                        input#initRequestToken.form-control(type='text', placeholder='Request Token', size="45")
                    |  
                    button#btnStartCheckout.btn.btn-primary
                        i.fa.fa-shopping-cart.fa-lg
                        |  Start Checkout (Light Box)
        tr.warning
            td
                label Step 5:
        tr
            td
                form#accessTokenService
                    .form-group
                        label(for='mpstatus') Lightbox Status
                        |  
                        input#mpstatus.form-control(name='mpstatus', type='text', placeholder='Lightbox Status')
                    |  
                    .form-group
                        label(for='chkResUrl') Checkout Resource Url
                        |  
                        input#checkoutResourceUrl.form-control(name='checkoutResourceUrl', type='text', placeholder='Checkout Resource Url')
                    |  
                    .form-group
                        label(for='itemDesc') oAuth Verifier
                        |  
                        input#oauthVerifier.form-control(name='oauthVerifier', type='text', placeholder='oAuth Verifier')
                    |  
                    .form-group
                        label(for='itemQty') oAuth Token
                        |  
                        input#oauthToken.form-control(name='oauthToken', type='text', placeholder='oAuth Token')
                    |  
                    button.btn.btn-primary(type='submit')
                        i.fa.fa-shopping-cart.fa-lg
                        |  Call Access Token Service
        tr.warning
            td
                label Step 6:
        tr
            td
                form#getCheckout
                    .form-group
                        label(for='accessToken') Access Token
                        |  
                        input#accessToken.form-control(name='accessToken', type='text', placeholder='Access Token')
                    |  
                    .form-group
                        label(for='chkResUrl') Checkout Resource Url
                        |  
                        input#checkoutId.form-control(name='checkoutId', type='text', placeholder='Checkout Resource Url')
                    |  
                    button.btn.btn-primary(type='submit')
                        i.fa.fa-shopping-cart.fa-lg
                        |  Get Checkout Info
        tr.warning
            td
                label Step 7:
        tr
            td
                form
                    .form-group
                        label(for='cartData') Cart Response
                        |  
                        textarea#cartData.form-control(placeholder='Cart Response', rows=10)
        tr.warning
            td
                label Step 8:
        tr
            td
                label Process payment through a payment gateway, use the approval code in the next step
        tr.warning
            td
                label Step 9:
        tr
            td
                form#transactionPostback
                    .form-group
                        label(for='transactionId') Transaction Id
                        |  
                        input#transactionId.form-control(name='transactionId', type='text', placeholder='Transaction Id')
                    |  
                    .form-group
                        label(for='currency') Currency
                        |  
                        input#currency.form-control(name='currency', type='text', placeholder='Currency' value='USD')
                    |  
                    .form-group
                        label(for='amount') Amount
                        |  
                        input#amount.form-control(name='amount', type='text', placeholder='Amount' value='29999')
                    |  
                    .form-group
                        label(for='status') Transaction Status
                        |  
                        input#status.form-control(name='status', type='text', placeholder='Status', value='Success')
                    |  
                    .form-group
                        label(for='approvalCode') Approval Code
                        |  
                        input#approvalCode.form-control(name='approvalCode', type='text', placeholder='Approval Code')
                    |  
                    input(name='expressCheckoutIndicator', type='hidden', value='false')
                    input(name='date', type='hidden', value=params.nowDate)
                    button.btn.btn-primary(type='submit')
                        i.fa.fa-shopping-cart.fa-lg
                        |  Transaction Postback
