doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title masterpass sample server - #{title}
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='/styles/common.css', rel='stylesheet')
    script(src='//code.jquery.com/jquery-1.12.4.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/scripts/common.js')
    block scripts
  body
    .container
      nav.navbar.navbar-inverse
        .container
          .navbar-header
            button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navbar', type='button', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            |  
            a.navbar-brand(href='/') masterpass test server
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href='/') Home
      block content
    block footer
    block footerscripts
